     <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Adicionar Nova Mensalidade</h3>
      </header>
      <div class="content">
        <form id="form-Mensalidade" autocomplete="off" action="/Mensalidade/add/ok">
          <div class="grid">
            <div>
              <label for="plano">Plano da Mensalidade</label>
              <input id="plano" name="plano" type="number" required>
            </div>
            <div>
              <label for="dataadesao">Data de Término da Mensalidade</label>
              <input id="dataadesao" name="dataadesao" type="date" class="data" required>
            </div>
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/Mensalidade/lst">Cancelar</a>
            <button type="submit" class="btn primary">Adicionar Nova Mensalidade</button>
          </footer>
        </form>
      </div>

      <%-include('../rodape.ejs')%>