

<%-include('../cabecalho.ejs')%>
     <header>
        <h3>Mensalidade adicionada com sucesso.</h3>
      </header>
      <div class="content"> 
        
      </div>
</br>
      <button class="btn primary" onclick="location.href='/Mensalidade/lst'"> Voltar Para a lista de Mensalidades</button>

      <%-include('../rodape.ejs')%>