<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Mensalidade</h3>
      </header>
      <div class="content">
        Mensalidade alterada com sucesso.
      </div>

 <%-include('../rodape.ejs')%> 