<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Instrutor alterado com sucesso.</h3>
      </header>
      <div class="content">
        
      </div>
      <button class="btn primary" onclick="location.href='/Instrutor/lst'"> Voltar Para a lista de Instrutores</button>
 <%-include('../rodape.ejs')%> 