<%-include('./cabecalho.ejs')%>
    <section class="section">
        <div style="display:flex; align-items:end; justify-content:space-between; gap:16px; flex-wrap:wrap;">
        <div>
            <div style="margin-top:15px;"></div>
            <h2>Escolha uma das opções abaixo para começar</h2>
            <div class="tabs" role="tablist" aria-label="Seções">
      <a class="tab" href="/Aparelho/lst">Aparelho</a>
      <a class="tab" href="/Cliente/lst">Cliente</a>
      <a class="tab" href="/Instrutor/lst">Instrutor</a>
      <a class="tab" href="/Mensalidade/lst">Mensalidade</a>
    </div>
        </div>
        </div>

    </section>
<%-include('./rodape.ejs')%>