     <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Novo Aparelho</h3>
      </header>
      <div class="content">
        <form id="form-Aparelho" autocomplete="off" action="/Aparelho/add/ok"
          enctype="multipart/form-data" method="post">
          <div class="grid">
            <div>
              <label for="nome">Nome</label>
              <input id="nome" name="nome" type="text" placeholder="Digite o Nome" required>
              </select>
            </div>
            
            <div>
              <label for="foto">Foto do Aparelho</label>
              <input id="foto" name="foto" type="file">
            </div>

            <div>
              <label for="Marca">Marca</label>
              <input id="Marca" name="marca" type="text" placeholder="Digite a Marca" required>
            </div>
            <div>
              <label for="Carga">Carga (Kg)</label>
              <input id="Carga" name="carga" type="number" placeholder="0,00" min="0" step="0.01" required>
            </div>
          
          <footer>
            <a type="button" class="btn ghost" id="btn-cancelar" href="/Aparelho/lst">Cancelar</a>
            <button type="submit" class="btn primary">Adicionar Aparelho</button>
          </footer>
        </form>
      </div>

      <%-include('../rodape.ejs')%>