 <%-include('../cabecalho.ejs')%>
     <header>
        <h3>Novo Aparelho Adicionado</h3>
      </header>
      <div class="content"> 
      </div>
    </br>
      <button class="btn primary" onclick="location.href='/Aparelho/lst'"> Voltar Para a lista de Aparelhos</button>
      <%-include('../rodape.ejs')%>


      