<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Aparelho</h3>
      </header>
      <div class="content">
        Aparelho alterado com sucesso.
      </div>
<button class="btn primary" onclick="location.href='/Aparelho/lst'"> Voltar Para a lista de Aparelhos</button>
 <%-include('../rodape.ejs')%> 