<%-include('../cabecalho.ejs')%>
     <header>
        <h3>Novo Cliente Adicionado</h3>
      </header>
      <div class="content"> 
      </div>
</br>
      <button class="btn primary" onclick="location.href='/Cliente/lst'"> Voltar Para a lista de Clientes</button>
      <%-include('../rodape.ejs')%>