<%-include('../cabecalho.ejs')%>
 <header>
        <h3>Cliente alterado com sucesso.</h3>
      </header>
      <div class="content">
      </div>
      <button class="btn primary" onclick="location.href='/Cliente/lst'"> Voltar Para a lista de Clientes</button>
 <%-include('../rodape.ejs')%> 